@model CW.Models.Comment

@{
    ViewData["Title"] = "DeleteComment";
}

<h2>Delete Comment</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCommented)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCommented)
        </dd>
    </dl>
    
    <form asp-action="DeleteComment">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
